<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shop</title>
  <script src="https://kit.fontawesome.com/121ff9f6d8.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="app" id="app">
  <div class="wrapper">

    <!--page head-->
    <section class="page-head">
      <div class="container page-head__container">

        <h1>New arrivals</h1>

        <div class="page-head__breadcrumbs">
          <a href="#" class="page-head__breadcrumbs-link">home</a>
          <a href="#" class="page-head__breadcrumbs-link">man</a>
          <a href="#" class="page-head__breadcrumbs-link">new arrivals</a>
        </div>
      </div>
    </section>

    <section class="cart">
      <div class="container cart__container">

        <!--cart table-->
        <table class="cart__table">

          <thead>
          <tr>
            <th class="cart__table-head cart__table-col--big">Product Details</th>
            <th class="cart__table-head cart__table-col">unite Price</th>
            <th class="cart__table-head cart__table-col">Quantity</th>
            <th class="cart__table-head cart__table-col">shipping</th>
            <th class="cart__table-head cart__table-col">Subtotal</th>
            <th class="cart__table-head cart__table-col">ACTION</th>
          </tr>
          </thead>

          <tbody>

          <!--cart item-->
          <tr class="cart__table-item">

            <td>
              <div class="cart__table-item-preview">
                <div class="cart__table-item-preview-img-wrap">
                  <img src="./assets/img/products/product-img-1.jpg" alt="cart-item-image">
                </div>
                <div class="cart__table-item-preview-text">
                  <p class="cart__table-item-preview-name">Mango People T-shirt</p>
                  <p><span>Color</span>: Red</p>
                  <p><span>Size</span>: Xll</p>
                </div>
              </div>
            </td>

            <td>
              <div class="cart__table-item-info">&dollar;150</div>
            </td>

            <td>
              <div class="cart__table-item-quantity-wrap">
                <div class="cart__table-item-quantity">
                  <div class="cart__table-item-quantity-btn dec"><i class="fas fa-minus"></i></div>
                  <p class="cart__table-item-quantity-counter">1</p>
                  <div class="cart__table-item-quantity-btn inc"><i class="fas fa-plus"></i></div>
                </div>
              </div>
            </td>

            <td>
              <div class="cart__table-item-info">free</div>
            </td>

            <td>
              <div class="cart__table-item-info">&dollar;300</div>
            </td>

            <td>
              <div class="cart__table-item-remove-btn"><i class="fas fa-times-circle"></i></div>
            </td>

          </tr>
          <tr class="cart__table-item">

            <td>
              <div class="cart__table-item-preview">
                <div class="cart__table-item-preview-img-wrap">
                  <img src="./assets/img/products/product-img-1.jpg" alt="cart-item-image">
                </div>
                <div class="cart__table-item-preview-text">
                  <p class="cart__table-item-preview-name">Mango People T-shirt</p>
                  <p><span>Color</span>: Red</p>
                  <p><span>Size</span>: Xll</p>
                </div>
              </div>
            </td>

            <td>
              <div class="cart__table-item-info">&dollar;150</div>
            </td>

            <td>
              <div class="cart__table-item-quantity-wrap">
                <div class="cart__table-item-quantity">
                  <div class="cart__table-item-quantity-btn dec"><i class="fas fa-minus"></i></div>
                  <p class="cart__table-item-quantity-counter">1</p>
                  <div class="cart__table-item-quantity-btn inc"><i class="fas fa-plus"></i></div>
                </div>
              </div>
            </td>

            <td>
              <div class="cart__table-item-info">free</div>
            </td>

            <td>
              <div class="cart__table-item-info">&dollar;300</div>
            </td>

            <td>
              <div class="cart__table-item-remove-btn"><i class="fas fa-times-circle"></i></div>
            </td>

          </tr>
          <tr class="cart__table-item">

            <td>
              <div class="cart__table-item-preview">
                <div class="cart__table-item-preview-img-wrap">
                  <img src="./assets/img/products/product-img-1.jpg" alt="cart-item-image">
                </div>
                <div class="cart__table-item-preview-text">
                  <p class="cart__table-item-preview-name">Mango People T-shirt</p>
                  <p><span>Color</span>: Red</p>
                  <p><span>Size</span>: Xll</p>
                </div>
              </div>
            </td>

            <td>
              <div class="cart__table-item-info">&dollar;150</div>
            </td>

            <td>
              <div class="cart__table-item-quantity-wrap">
                <div class="cart__table-item-quantity">
                  <div class="cart__table-item-quantity-btn dec"><i class="fas fa-minus"></i></div>
                  <p class="cart__table-item-quantity-counter">1</p>
                  <div class="cart__table-item-quantity-btn inc"><i class="fas fa-plus"></i></div>
                </div>
              </div>
            </td>

            <td>
              <div class="cart__table-item-info">free</div>
            </td>

            <td>
              <div class="cart__table-item-info">&dollar;300</div>
            </td>

            <td>
              <div class="cart__table-item-remove-btn"><i class="fas fa-times-circle"></i></div>
            </td>

          </tr>
          </tbody>
        </table>

        <div class="cart__actions">
          <button>cLEAR SHOPPING CART</button>
          <button>continue sHOPPING</button>
        </div>

        <div class="cart__order">
          <div class="cart__order-wrap">

            <div class="cart__order-total">
              <p>GRAND TOTAL <span>$900</span></p>
            </div>

            <a href="#" class="cart__order-btn">order</a>

          </div>
        </div>

      </div>

    </section>

  </div>

  <!--footer-->
  <footer class="footer">
    <div class="container footer__container">

      <div class="footer__left">
        <a href="#" class="logo footer__logo">
          <img src="./assets/img/logo.png" alt="header-logo" class="header__log-img">
          bran<span>d</span>
        </a>
        <p class="footer__text">
          Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate
          multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes
          and cross-unit partnerships.
        </p>
        <p class="footer__text">Efficiently plagiarize 24/365 action items and focused infomediaries.
          Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.</p>
      </div>

      <nav class="footer__nav">

        <div class="footer__nav-menu">
          <h2>COMPANY</h2>
          <ul>
            <li><a href="#" class="footer__nav-menu-link">Home</a></li>
            <li><a href="#" class="footer__nav-menu-link">Shop</a></li>
            <li><a href="#" class="footer__nav-menu-link">About</a></li>
            <li><a href="#" class="footer__nav-menu-link">How It Works</a></li>
            <li><a href="#" class="footer__nav-menu-link">Contact</a></li>
          </ul>
        </div>

        <div class="footer__nav-menu">
          <h2>INFORMATION</h2>
          <ul>
            <li><a href="#" class="footer__nav-menu-link">Tearms & Condition</a></li>
            <li><a href="#" class="footer__nav-menu-link">Privacy Policy</a></li>
            <li><a href="#" class="footer__nav-menu-link">How to Buy</a></li>
            <li><a href="#" class="footer__nav-menu-link">How to Sell</a></li>
            <li><a href="#" class="footer__nav-menu-link">Promotion</a></li>
          </ul>
        </div>

        <div class="footer__nav-menu">
          <h2>SHOP CATEGORY</h2>
          <ul>
            <li><a href="#" class="footer__nav-menu-link">Men</a></li>
            <li><a href="#" class="footer__nav-menu-link">Women</a></li>
            <li><a href="#" class="footer__nav-menu-link">Child</a></li>
            <li><a href="#" class="footer__nav-menu-link">Apparel</a></li>
            <li><a href="#" class="footer__nav-menu-link">Brows All</a></li>
          </ul>
        </div>

      </nav>
    </div>

    <div class="footer__bottom">
      <div class="container footer__bottom-container">
        <p class="footer__bottom-copyright">&copy; 2017 Brand All Rights Reserved.</p>
        <ul class="footer__bottom-social">
          <li><a href="#" class="footer__bottom-social-link"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#" class="footer__bottom-social-link"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#" class="footer__bottom-social-link"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="#" class="footer__bottom-social-link"><i class="fab fa-pinterest-p"></i></a></li>
          <li><a href="#" class="footer__bottom-social-link"><i class="fab fa-google-plus-g"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
</body>
</html>