.cart {
  padding: $section-padding-top;

  &__empty-container {
    text-align: center;

    h2 {
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    & .cart-btn {
      @include btn($light-text-color);
      display: inline-block;
      background: white;
      border: $default-border;
      text-transform: uppercase;
      font-weight: bold;
      height: $btn-line-height;

      &:hover {
        background: none;
        color: $text-color;
        border: 1px solid black;
      }
    }
  }
}