$main-font-size: 14px;
$biggest-font-size: 60px;
$big-font-size: 40px;

$main-color: #f16d7f;
$border-color: #ececec;
$text-color: #222222;
$light-text-color: #9f9f9f;

$header-form-height: 38px;
$slider-height: 613px;
$comment-photo-size: 83px;
$social-link-size: 32px;
$select-height: 30px;
$quantity-btn-size: 15px;
$mini-cart-counter-size: 20px;

$default-border: 1px solid #ececec;

$section-padding-top: 80px;
$input-padding: 0 15px;

$transition-time: .3s;

$btn-icon-margin: 10px;
$btn-line-height: 40px